body {
	font-size: 16px;

}
#header-nav{
	background-color: #a2e0b7;
}

.navbar-brand {
	padding-top: 5px;
}

.navbar-brand h1{
	font-family: 'Lora', serif; 
	color: #3A68CA;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1.5px 1.5px 1.5px #4D69A4;
	margin-top: 0;
	margin-bottom: 0;
	
	line-height: .75;
	text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-toggler{
	border:1px solid black;
}
.menu{
	margin-top: 30px;
}

.text-center{
	font-size: 2em;
	font-family: 'Goldman', cursive;
	background-color: #dba26b;
}
#container{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #82e0da;
	height: 1000px;
}
.items{
	text-decoration: none;
	background-color: #cf6973;
	border:1.5px solid black;
    list-style-type: none;
}
.item1{
	margin-top: -1px;
	margin-left:-41px;
	border:1px solid black;
	text-align: center;
}
.item2{
	margin-left:-41px;
	border:1px solid black;
	text-align: center;
}
.item3{
	margin-left:-41px;
	border:1px solid black;
	text-align: center;
}
.item1 a{
	font-size: 1.2em;
	color: #fff714;
	text-decoration: none;
	font-family: 'Fondamento', cursive;
}

.item2 a {
	font-size: 1.2em;
	color:#fff714;
	text-decoration: none;
	font-family: 'Fondamento', cursive;
}

.item3 a{
	font-size: 1.2em;
	text-decoration: none;
	color:#fff714;
	font-family: 'Fondamento', cursive;
}
.para{
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	color: #080c40;
}	